
      legend,input {
        border: 1px solid;
        border-radius:50px;
        background-color:rgb(211, 211, 85);
      }
      fieldset {
        width: 50%;
        background: linear-gradient(90deg, rgb(51, 117, 31) 0%, rgb(104, 161, 112) 35%, rgb(153, 192, 161) 100%);
        text-align: center;
        border-radius:50px;
      }
      img{
        border-radius: 50px;
        border: 1px solid;
      }
    